<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('./components/head.ejs') %>
</head>
<body>

  <header>
    <%- include('./components/nav.ejs') %>
   
  </header>

      <main>
          <section id="cards">
            <div class="card">
              
              <p class="posicao">Posição: <%=jogador.posicao %></p>
              <img src="<%=jogador.imagem%> " alt="Esta é uma imagem do jogador" />
              <h3>Nome: <%=jogador.nome%></h3>
              <p class="pais">País: <%=jogador.pais%></p>
              <p class="clube"> Clube Atual: <%=jogador.clube  %>  </p>
              <p class="ger"> Ger: <%=jogador.ger %>  </p>
          

            </div>

          </section>
      </main>


      <footer>
        <%- include('./components/footer.ejs') %>
      </footer>
      <script src="/script.js"></script>
</body>
</html>

