<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./components/head.ejs') %>
  </head>
  <body>
    <header><%- include('./components/nav.ejs') %></header>

    <main>
      <section id="cards">
        <% copaMundo.forEach((jogador) => { %>
        <div class="card">
          <!-- <p class="id">ID: <%=jogador.id %></p> -->
          <p class="posicao">Posição: <%=jogador.posicao %></p>
          <img src="<%=jogador.imagem %>" alt="Esta é uma imagem do jogador" />
          <h3>Nome: <%=jogador.nome%></h3>
          <p class="pais">País: <%=jogador.pais%></p>

     
          <a id="editar" href="/getById/<%= jogador.id %>/put">Editar</a>
          <a id="apagar" href="/getById/<%= jogador.id %>/delete"> Apagar</a>
        </div>

        <% }); %>
      </section>
    </main>

    <% if(jogadorPut != null){ %>
       <%- include('./components/modalPut.ejs') %>
    <%} %>

    <% if(jogadorDel != null){ %> 
      <%- include('./components/modalDel.ejs')  %> 
    <% } %> 

    %> <%- include('./components/footer.ejs') %>
  </body>
</html>

